tests/data/recent_media_data.csv
tests/data/recent_user_data.csv

tests/data/1st_labelig_data.csv
tests/data/2nd_labeling_data.csv
tests/data/fine_tuning_data_original.csv

new.xlsx
new_2.xlsx
new_3_ensemble_result.xlsx
new_multi-columns.xlsx
real_category_matching.xlsx

config/
finetune-bert-kor/
finetune-BM-K/
finetune-KR-Medium/
distilbert-base-multilingual-cased/
kcELECTRA-base-v2022/
skt-kobert-base-v1/
finetune-monologg/
muli-columns-kykim-bert-kor/
muli-columns-BM-K